In [ ]:
# for loop
# while loop

In [ ]:
#for loop
# range(5) 0,1,2,3,4,
# range(1,5) 1,2,3,4
# range(1,5,2) 1,3

In [1]:
#syntax
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(5):
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [5]:
for i in range(1,5):
    print(i,"hello world")

1 hello world
2 hello world
3 hello world
4 hello world

In [6]:
for i in range(1,5,2):
    print(i,"hello world")

1 hello world
3 hello world

In [7]:
for i in range(1,11):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [11]:
x= int(input("enter x= "))

for i in range(1,11):
    print(x*i)

enter x= 4
4
8
12
16
20
24
28
32
36
40

In [12]:
x= int(input("enter x= "))

for i in range(1,11):
    print(x,"*",i, "=", x*i)

enter x= 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [13]:
for i in range(2):
    x= input("enter n= ")
    print(x)

enter n= ram
ram
enter n= sauryan
sauryan

In [1]:
n=int(input("enter n= "))

for i in range(n):
    x= input ("enter name")
    print(x)

enter n= 2
enter namesauryan
sauryan
enter namerana
rana

In [21]:
s=0
n=int(input("enter n= "))

for i in range(n):
    x= int(input ("enter x= "))
    s=s+x

    print("sum is ", s)

enter n= 3
enter x= 4
sum is  4
enter x= 5
sum is  9
enter x= 6
sum is  15

In [22]:
s=0
n=int(input("enter n= "))

for i in range(n):
    x= int(input ("enter x= "))
    s=s+x

print("sum is ", s)

enter n= 3
enter x= 4
enter x= 5
enter x= 6
sum is  15

In [26]:
s=str()
n=int(input("enter n= "))

for i in range(n):
    x= input ("enter x= ")
    s=s+""+x
s
print("sum is ", s)

enter n= 2
enter x= apple
enter x= ball
sum is  apple ball

In [31]:
s=str()
n=int(input("enter n= "))

for i in range(n):
    name= input ("enter name= ")
    phone= input("enter phone")
    s=s+name+"--"+phone+"\n"

print(s)

enter n= 2
enter name= ram
enter phone923421
enter name= hari
enter phone98942
ram--923421
hari--98942

In [5]:
#factorial
#4!=1*2*3*4

n= int(input("enter n= "))
fac = 1
for i in range(1,n+1):
    fac= fac*i
    print(fac)

enter n= 4
1
2
6
24

In [ ]:
## control statement
# break
# continue (skip)
# pass

In [39]:
#we do not use range in string function

a="hello world"

for i in a:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [40]:
a="hello world"

for i in a:
    print(i,end=".")

h.e.l.l.o. .w.o.r.l.d.

In [2]:
a="Hello World, I am Python"

for i in a:
    if i !=" ":
        print(i,end="")

H
e
l
l
o
W
o
r
l
d
,
I
a
m
P
y
t
h
o
n

In [51]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [52]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [1]:
for i in range(1,51):
    if i%5!=0:
        continue

    print(i)

5
10
15
20
25
30
35
40
45
50

In [6]:
#if I don't want to run an operation, use pass

a=10
b=20

if a<b:
    pass #(executes non-operational)