In [1]:
#string is immutable type

a= "hello world"
print(a)
print(type(a))

hello world
<class 'str'>

In [2]:
a="hello"
b= "World"
c=a+b
print(c)

helloWorld

In [3]:
a= "hello world\n"
print(a*2)

hello world
hello world

In [14]:
a= "hello world"
print(a[1])
print(a[0:5])
print(a[0:5:2])
l= len(a)
print(l)

e
hello
hlo
11

In [24]:
a= "hello world"
l= len(a)
print(a[11::-1])

dlrow olleh

In [25]:
name = "ram"
age= 20
add = "kathmandu"

info= name + str(age) + add

print(info)

ram20kathmandu

In [27]:
#string formatting

name = "ram"
age= 20
add = "kathmandu"

info= f"hello i am {name}. i am {age}. i am from {add}" #no space between f and "

print(info)

hello i am ram. i am 20. i am from kathmandu

In [6]:
s= str()
n= int(input("enter the value of n- "))

for i in range(n):
    product= input("enter product name- ")
    price = int(input("enter price- "))
    quantity= int(input("enter quantity- "))
    total= price*quantity
    s=s+ f"{product} {price} {quantity} {total}\n"
print(s)

enter the value of n- 2
enter product name- brush
enter price- 25
enter quantity- 1
enter product name- soap
enter price- 40
enter quantity- 2
brush 25 1 25
soap 40 2 80

In [10]:
#search

a= "Ram Shyam Hari Sita Ram Shyam sita"
if "Ram" in a:
    print("yes")
    print(a.count("Ram"))

yes
2

In [16]:
#search
name= input("enter name- ").lower() #removing the case sensitive
a="Ram Shyam Hari Sita Ram Shyam sita" . lower()
if name in a:
    print("yes")
    print(a.count(name))
else:
    print("not found")

enter name- fseadg
not found

In [14]:
#case sensitive ( upper case/lower case)
a="hello world"
print(a.upper())
print(a.lower())

HELLO WORLD
hello world

In [17]:
a="hello world"
print(a.title()) #change the starting character to upper case

Hello World

In [ ]:
#pre-defined functions 
#isupper() islower() isalpha()

In [21]:
a="Ram Shyam Hari Sita Ram Shyam sita"
print(a.replace("Ram", "Rama"))
print(a) #no changes in the original data type

Rama Shyam Hari Sita Rama Shyam sita
Ram Shyam Hari Sita Ram Shyam sita

In [24]:

a="Ram Shyam Hari Sita Ram Shyam sita"
a=a.replace("Ram", "Rama")
print(a)

Rama Shyam Hari Sita Rama Shyam sita

In [26]:
#to remove ram, we keep the replace string empty

a="Ram Shyam Hari Sita Ram Shyam sita"
print(a.replace("Ram", ""))

 Shyam Hari Sita  Shyam sita