In [ ]:
#python collection
# list
# tuples
# dictionary
# sets

In [ ]:
#List
# -Indexed
# -ordered
# -multiple and duplicate values
# -mutable

In [1]:
a= list()
l = ["Apple", "ball"]
print(type(l))

<class 'list'>

In [7]:
#indexed

l = ["Apple", "ball", "cat", "dog","fish"]
print(l[0])
print(l[-1])
print(l[0:5])
print(l[0:6:2])

Apple
fish
['Apple', 'ball', 'cat', 'dog', 'fish']
['Apple', 'cat', 'fish']

In [8]:
#ordered
l = ["Apple", "ball", "cat", "dog","fish"]
k=["zebra"]

print(l+k)

['Apple', 'ball', 'cat', 'dog', 'fish', 'zebra']

In [9]:
#multiple and duplicate values

l = ["Apple", "ball", "cat", "dog","fish","apple"]
print(l)

['Apple', 'ball', 'cat', 'dog', 'fish', 'apple']

In [10]:
#mutable

l = ["Apple", "ball", "cat", "dog","fish"]
l[0]= "ant"
print(l)

['ant', 'ball', 'cat', 'dog', 'fish']

#creating list

names=list()
n= int(input("enter n- "))
for i in range(n):
    x=input("enter name- ")
    names= names+[x]
print(names)

In [24]:

y=list()
n= int(input("enter n- "))
for i in range(n):
    x=int(input("enter x- "))
    y= y+[x]
    
print(y)
print("sum of list= ", sum(y))
print("max value of list= ", max(y))
print("min value of list",min(y))

enter n- 3
enter x- 34
enter x- 23
enter x- 33
[34, 23, 33]
sum of list=  90
max value of list=  34
min value of list 23

In [18]:
#ascending and descending order

y.sort()
print(y)
y.reverse()
print(y)

['14', '21', '23', '35', '54']

In [27]:
y=list()
n= int(input("enter n- "))
for i in range(n):
    x=input("enter x- ")
    y= y+[x]
print(y)
y.sort()
print(y)

enter n- 3
enter x- apple
enter x- ball
enter x- Rat
['apple', 'ball', 'Rat']
['Rat', 'apple', 'ball']

In [28]:
#funtions in list
# append
# insert
# extend

In [35]:
l = ["Apple", "ball", "cat", "dog","fish"]
l.append("elephant")
print(l)

['Apple', 'ball', 'cat', 'dog', 'fish', 'elephant']

In [32]:
names=list()
n= int(input("enter n- "))
for i in range(n):
    x=input("enter name- ")
    names.append(x)
print(names)

enter n- 3
enter name- sauryan
enter name- ram
enter name- har
['sauryan', 'ram', 'har']

In [37]:
l = ["Apple", "ball", "cat", "dog","fish"]
l.insert(1,"Ball")
print(l)

['Apple', 'Ball', 'ball', 'cat', 'dog', 'fish']

In [38]:
x = ["Apple", "ball", "cat", "dog","fish"]
y= [1,2,3,4]

x.extend(y)
print(x)

['Apple', 'ball', 'cat', 'dog', 'fish', 1, 2, 3, 4]

In [4]:
x = ["Apple", "ball", "cat", "dog","fish"]
for i in x:
    print(i)

Apple
ball
cat
dog
fish

In [42]:
x = ["Apple", "ball", "cat", "dog","fish"]
for i in x:
    if i == "cat":
        break
    print(i)

Apple
ball

In [44]:
x = ["Apple", "ball", "cat", "dog","fish"]
for i in x:
    if i == "cat":
        continue
    print(i)

Apple
ball
dog
fish

In [46]:
#search

x = ["Apple", "ball", "cat", "dog","fish"]
if "Apple" in x:
    print("yes", x.count("Apple"))

yes 1

In [50]:
x = ["Apple", "ball", "cat", "dog","fish"]
#del remove() pop()
x.remove("ball")
print(x)

['Apple', 'cat', 'dog', 'fish']

In [51]:
x = ["Apple", "ball", "cat", "dog","fish"]
del x[1]
print(x)

['Apple', 'cat', 'dog', 'fish']

In [53]:
x = ["Apple", "ball", "cat", "dog","fish"]
x.pop(2)
print(x)

['Apple', 'ball', 'dog', 'fish']

In [59]:
x = ["Apple", "ball", "cat", "dog","fish"]
x.index("ball")

1

In [1]:
x = ["Apple", "ball", "cat", "dog","fish","ball"]
l = len(x)
for i in range(l):
    if x[i]=="ball":
        print(i)

1
5

In [6]:
x = ["Apple", "ball", "cat", "dog","fish","ball"]

for i in x:
    if i == "ball":
        x.remove("ball")
print(x)

['Apple', 'cat', 'dog', 'fish']

In [1]:
#list inside list

a=[[1,2,3],[4,5,6],[7,8,9]]
print(a)
print(type(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>

In [6]:
a= [["ram", 34, "kathmandu"],
    ["shyam",43,"patan"],
     ["hari",67,"bara"]]

for i in a:
    print(i)

['ram', 34, 'kathmandu']
['shyam', 43, 'patan']
['hari', 67, 'bara']

In [10]:
a= [["ram", 34, "kathmandu"],
    ["shyam",43,"patan"],
     ["hari",67,"bara"]]

print(a[0])

['ram', 34, 'kathmandu']

In [12]:
a= [["ram", 34, "kathmandu"],
    ["shyam",43,"patan"],
     ["hari",67,"bara"]]

print(a[0][0])

ram

In [14]:
info= list()

n=int(input("enter the value of n"))

for i in range(n):
    name= input("enter name- ")
    age= int(input("enter age- "))
    add= input("enter address- ")
    data= [name,age,add]
    info.append(data)
print(info)

enter the value of n2
enter name- sauryan
enter age- 23
enter address- ktm
enter name- ranasa
enter age- 32
enter address- fsaf
[['sauryan', 23, 'ktm'], ['ranasa', 32, 'fsaf']]

In [26]:
info= [['sauryan', 23, 'ktm'], ['shyam', 32, 'bara']]
info.append(['hari',56,"jawalakhel"])

print(info)

[['sauryan', 23, 'ktm'], ['shyam', 32, 'bara'], ['hari', 56, 'jawalakhel']]

In [23]:
search= input("enter search- ")
for i in info:
    if search in i:
        print(i)
        break
else:
    print("no data found")

enter search- sauryan
['sauryan', 23, 'ktm']

In [27]:
#replacing "ram" with "Ram"

info= [['sauryan', 23, 'ktm'], ['shyam', 32, 'bara'], ['hari', 56, 'jawalakhel']]
info[0][0]="Ram"
print(info)

[['Ram', 23, 'ktm'], ['shyam', 32, 'bara'], ['hari', 56, 'jawalakhel']]

In [29]:
#deleting a list within list

info= [['sauryan', 23, 'ktm'], ['shyam', 32, 'bara'], ['hari', 56, 'jawalakhel']]
del info[0][0]
print(info)

[[23, 'ktm'], ['shyam', 32, 'bara'], ['hari', 56, 'jawalakhel']]

In [32]:
m= []
r= int(input("enter row- "))
c= int(input("enter coloumn- "))

for i in range(r):
    n=[]
    for j in range(c):
        x= int(input("enter x- "))
        n.append(x)
        
    m.append(n)
    
print(m)

enter row- 3
enter coloumn- 3
enter x- 1
enter x- 2
enter x- 3
enter x- 4
enter x- 5
enter x- 6
enter x- 7
enter x- 8
enter x- 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [35]:
s= str()
n= int(input("enter the value of n- "))

for i in range(n):
    name= input("enter name- ")
    phone = int(input("enter phone- "))
    s=s+ f"{name} {phone}\n"
print(s)

enter the value of n- 2
enter name- sauryan
enter price- 421421
enter name- sda
enter price- 432
sauryan 421421
sda 432

In [37]:
print(s)
s

sauryan 421421
sda 432

'sauryan 421421\nsda 432\n'

In [43]:
x= []
a= s.split("\n")[0:-1]
print(a)
for i in a:
    y= i.split()
    x.append(y)
print(x)

['sauryan 421421', 'sda 432']
[['sauryan', '421421'], ['sda', '432']]