In [1]:
# dictionary
# -indexing
# -duplicate/ multiple value but keys cannot be same
# -ordered
# -mutable

In [2]:
# a={} dictionary
# b= dict{} empty dict

# a= {"key":value, "key":value}

In [16]:
a={"a": "apple", "b":"ball", "c":"cat"}
b= {1:1, 2:4, 3:9}

print(a)
print(b)
print(a,b)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{1: 1, 2: 4, 3: 9}
{'a': 'apple', 'b': 'ball', 'c': 'cat'} {1: 1, 2: 4, 3: 9}

In [14]:
#indexing

print(a["a"])
print(b[3])
print(len(a))

apple
9
3
dict_values(['apple', 'ball', 'cat'])

In [13]:
a={"a": "apple", "b":"ball", "c":"cat"}
for i in a:
    print(i) #only key

a
b
c

In [15]:
a={"a": "apple", "b":"ball", "c":"cat"}
for i in a.values(): #only values
    print(i)
    
for i in a.items(): #key and values
    print(i)

apple
ball
cat
('a', 'apple')
('b', 'ball')
('c', 'cat')

In [19]:
a={"a": "apple", "b":"ball", "c":"cat", 'A':"apple"}
print(a)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'A': 'apple'}

In [20]:
a={"a": "apple", "b":"ball", "c":"cat", 'a':"ant"}
print(a)

{'a': 'ant', 'b': 'ball', 'c': 'cat'}

In [22]:
a={}
a['a']="apple"
a['b']="ball"
a['c']="cat"

print(a)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [26]:
d= dict()
n= int(input("enter the value of n- "))

for i in range(n):
    name= input("enter name- ")
    phone= int(input("enter phone- "))
    d[name]= phone

print(d)
# d["hari"]=523325
# print(d)

enter the value of n- 2
enter name- sauryan
enter phone- 14242
enter name- ram
enter phone- 35262
{'sauryan': 14242, 'ram': 35262}

In [28]:
a= {}
b={}
print(a+b)

AttributeError: 'dict' object has no attribute 'append'

In [29]:
# del pop()

In [30]:
a={'sauryan': 14242, 'ram': 35262}
del a['ram']
print(a)

{'sauryan': 14242}

In [31]:
a={'sauryan': 14242, 'ram': 35262}
a.pop('ram')
print(a)

{'sauryan': 14242}

In [36]:
a={'sauryan': 14242, 'ram': 35262}
b=a.pop("ram")

print(a)
print(b)

{'sauryan': 14242}
35262

In [37]:
a={'sauryan': 14242, 'ram': 35262}
a.clear()
print(a)

{}

In [38]:
a={'sauryan': 14242, 'ram': 35262}
b= {'hari':24532}
a.update(b)
print(a)

{'sauryan': 14242, 'ram': 35262, 'hari': 24532}

In [44]:
#list inside dict
a={'sauryan': [14242, 23525],'ram': [35262,235233]}
print(a)
print(a['sauryan'])

{'sauryan': [14242, 23525], 'ram': [35262, 235233]}
[14242, 23525]

In [45]:
#input multiple values

d= dict()
n= int(input("enter the value of n- "))

for i in range(n):
    name= input("enter name- ")
    ntc_phone= int(input("enter ntc phone- "))
    ncell_phone= int(input("enter ncell phone- "))
    d[name]= [ntc_phone, ncell_phone]

print(d)

enter the value of n- 2
enter name- sauryan
enter ntc phone- 532523
enter ncell phone- 53223643
enter name- hari
enter ntc phone- 040923
enter ncell phone- 5231
{'sauryan': [532523, 53223643], 'hari': [40923, 5231]}

In [46]:
d= dict()
n= int(input("enter the value of n- "))

for i in range(1,n+1):
    name= input("enter name- ")
    age= int(input("enter age- "))
    address= input("enter address- ")
    d[i]= [name,age,address]

print(d)

enter the value of n- 3
enter name- sauryan
enter age- 23
enter address- fdsagas
enter name- ram
enter age- 432
enter address- dgagad
enter name- shyam
enter age- 53
enter address- dgata
{1: ['sauryan', 23, 'fdsagas'], 2: ['ram', 432, 'dgagad'], 3: ['shyam', 53, 'dgata']}

In [49]:
a= {'name': ['Ram','Shyam'], 'age':[24,25], 'address': ["ktm", "pkr"]}
print(a)

{'name': ['Ram', 'Shyam'], 'age': [24, 25], 'address': ['ktm', 'pkr']}

In [50]:

na=[]
ag=[]
ad=[]
n= int(input("enter the value of n- "))

for i in range(1,n+1):
    name= input("enter name- ")
    age= int(input("enter age- "))
    address= input("enter address- ")
    na.append(name)
    ag.append(age)
    ad.append(address)
    
info= {'name': na, 'age': ag, "address": ad}
print(info)

enter the value of n- 2
enter name- saauryan
enter age- 23
enter address- fsaga
enter name- ram
enter age- 54
enter address- fasff
{'name': ['saauryan', 'ram'], 'age': [23, 54], 'address': ['fsaga', 'fasff']}

In [51]:
d={'name': ['saauryan', 'ram'], 'age': [23, 54], 'address': ['fsaga', 'fasff']}
print(type(d))

<class 'dict'>

In [55]:
d={'sauryan': [532523, 53223643], 'hari': [40923, 5231]}
print(d['sauryan'])
print(d['sauryan'][0])

[532523, 53223643]
532523

In [56]:
d['sauryan'][0]= 9843252
print(d)

{'sauryan': [9843252, 53223643], 'hari': [40923, 5231]}

In [59]:
d={'sauryan': [532523, 53223643], 'hari': [40923, 5231]}
d['sauryan'].append('554353')
print(d)

d.update({'shyam': [5943543,5321523]})
print(d)

{'sauryan': [532523, 53223643, '554353'], 'hari': [40923, 5231]}
{'sauryan': [532523, 53223643, '554353'], 'hari': [40923, 5231], 'shyam': [5943543, 5321523]}

In [63]:
a= {'name': ['Ram','Shyam'], 'age':[24,25], 'address': ["ktm", "pkr"]}
a['name'].append('hari')
a['age'].append(54)
a['address'].append('chitwan')
print(a)

{'name': ['Shyam'], 'age': [24, 25, 54], 'address': ['ktm', 'pkr', 'chitwan']}

In [64]:
a= {'name': ['Ram','Shyam'], 'age':[24,25], 'address': ["ktm", "pkr"]}
del a['name'][0]
del a['age'][0]
del a['address'][0]
print(a)

{'name': ['Shyam'], 'age': [25], 'address': ['pkr']}

In [66]:
data= {'name': ['Ram','Shyam','hari'], 'age':[24,25,34], 'address': ["ktm", "pkr", "chitwan"]}

name= input("enter name- ")
index= data['name'].index(name)
index

enter name- Ram

0

In [67]:
del a['name'][index]
del a['age'][index]
del a['address'][index]
data

{'name': ['Ram', 'Shyam', 'hari'],
 'age': [24, 25, 34],
 'address': ['ktm', 'pkr', 'chitwan']}

In [2]:
def one():
    d1={}
    n= int(input("enter the value of n- "))
    for i in range(n):
        x= int(input("enter value- "))
        d1[x]= x*x
    return d1

def two():
    d2={}
    n= int(input("enter the value of n- "))
    for i in range(n):
        x= int(input("enter value- "))
        d2[x]= x*x
    return d2

x= one()
y=two()

x.update(y)

print(x)

enter the value of n- 2
enter value- 1
enter value- 2
enter the value of n- 3
enter value- 3
enter value- 4
enter value- 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}