In [1]:
# Files
# b= open('file_name','<mode>')
# b.close()

In [2]:
# with open (<file_name>,<modes>) as file:
#     <operatios>

In [3]:
# modes:
#     read- r
#     write- w (overwrites the file)
#     create- x
#     append- a

In [7]:
try:

    b=open('data.txt','x')
    b.close() #cannot run again as same file cannot be created twice

except:
    print("File exist")

File exist

In [3]:
with open('data.txt','r') as file:
    print(file.read())

1. hello world
2. hello world
3. hello world
4. hello world
5. hello world
6. hello world
7. hello world
8. hello world

In [10]:
with open('data.txt','r') as file:
    print(file.read(20)) #print 20 characters

1. hello world
2. he

In [15]:
with open('data.txt','r') as file:
    print(file.readline())#reads line
    file.readline() #reads but doesn't print
    print(file.readline())

1. hello world

3. hello world

In [14]:
b= open('data.txt','r')
x= b.read()
print(type(x))
b.close()

<class 'str'>

In [19]:
n= int(input("enter the value of n "))
b= open('data.txt','r')

for i in range(1,n+1):
    if n != i:
        b.readline()
    else:
        print(b.readline())
        break
b.close()

enter the value of n 3
3. hello world

In [22]:
with open('data.txt','a') as file:
    file.write("\n8. hello world")

In [23]:
s= str()
n= int(input("enter the value of n- "))

for i in range(n):
    product= input("enter product name- ")
    price = int(input("enter price- "))
    quantity= int(input("enter quantity- "))
    total= price*quantity
    s=s+ f"{product} {price} {quantity} {total}\n"
print(s)

with open('bill.txt','a') as file:
    file.write(s)

enter the value of n- 2
enter product name- soap
enter price- 20
enter quantity- 1
enter product name- earbud
enter price- 45
enter quantity- 2
soap 20 1 20
earbud 45 2 90

In [25]:
#csv file

s= str()
n= int(input("enter the value of n- "))
b= open('bill.csv','a') 

for i in range(n):
    product= input("enter product name- ")
    price = int(input("enter price- "))
    quantity= int(input("enter quantity- "))
    total= price*quantity
    s=s+ f"{product}, {price}, {quantity}, {total}\n"
print(s)

b.write('product,price,quantity,total\n')
b.write(s)
b.close()

enter the value of n- 2
enter product name- momo
enter price- 100
enter quantity- 2
enter product name- coke
enter price- 25
enter quantity- 2
momo, 100, 2, 200
coke, 25, 2, 50

In [28]:
with open('bill.csv','r') as file:
    print(file.read())

product,price,quantity,total
momo, 100, 2, 200
coke, 25, 2, 50

In [34]:
import pandas as pd #package
df= pd.read_csv('bill.csv') #dataframe- pandas datatype
df

  product  price  quantity  total
0    momo    100         2    200
1    coke     25         2     50

In [30]:
import pandas as pd #package
df= pd.read_csv('bill.csv') #dataframe- pandas datatype
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [37]:
import pandas as pd #package
df= pd.read_csv('bill.csv',nrows=2) 
df

   sn product  price  quantity  total
0   1    momo    100         2    200
1   2    coke     25         2     50

In [38]:
import pandas as pd #package
df= pd.read_csv('bill.csv',nrows=2,index_col='sn') 
df

   product  price  quantity  total
sn
1     momo    100         2    200
2     coke     25         2     50